body {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", sans-serif;
  color: #000000;

  background-color: gray;
}

.wrapperMain {
  margin: 0 10%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  margin: 0;
  padding: 0;

  background-color: #000000;
  background-image: url("img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.wrapperHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.headerNavigation {
  width: 100%;
  height: 70px;
  margin: 0;

  background-color: black;
}

.headerNavigation__toggle {
  display: none;
}

.navMenu {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;

  list-style: none;
}

.navMenu__item {
  flex-grow: 1;

}

.navMenu__link,
.enterAccount__link {
  display: flex;
  align-items: center;

  height: 70px;
  padding: 0 31px;

  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.enterAccount__link {
  max-width: 130px;
  background-color: yellowgreen;
}

.enterAccount__link::before {
  content: "";

  display: inline-block;

  height: 16px;
  width: 16px;
  margin: 0 19px 0 0;

  background-image: url(img/login-mobile.png);
  background-size: cover;
}

.navMenu__link[href]:hover,
.enterAccount__link:hover {
  color: #000000;
  background-color: #ffffff;
}

.navMenu__link[href]:active,
.enterAccount__link:active {
  background-color: #ffffff;
  color: #9a9a9a;
}

.navMenu__item--active {
  position: relative;
}

.navMenu__item--active::after {
  content: "";
  position: absolute;
  right: 30px;
  bottom: -3px;
  left: 30px;

  height: 3px;

  background: #826560;
}

.yourAccount {
  position: relative;
  display: none;
  width: 460px;
  z-index: 10;

  background-color: #f8f5f2;
  box-shadow: 0 30px 50px 0 rgba(0, 1, 1, 0.75);
}

.yourAccountPosition {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 125px;
}

.yourAccount__crossButton {
  position: absolute;
  top: 62px;
  left: 537px;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url('img/cross-button.png');
  background-color: transparent;
}

.yourAccount-open {
  display: block;
}

.yourAccount__wrapper {
  margin: 0 70px;
}

.yourAccount__form {
  box-sizing: border-box;
  padding: 0;
}

.yourAccount__title {
  padding: 30px 0 22px 0;
  margin: 0;
  text-align: center;

  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.yourAccount__instruction {
  padding: 0;
  margin: 0;
  text-align: center;

  font-size: 18px;
  line-height: 27px;
  color: black;
}

.yourAccount__login,
.yourAccount__password {
  width: 90%;
  height: 50px;
  margin: 0;
  padding-left: 17px;

  outline: 1px solid #e5ddd5;
  border: none;
  background-repeat: no-repeat;
  background-position-x: 270px;
  background-position-y: center;
}

.yourAccount__login:focus,
.yourAccount__login:hover,
.yourAccount__password:focus,
.yourAccount__password:hover {
  outline: 1px solid #eae5e2;
}

.yourAccount__login:active,
.yourAccount__password:active {
  outline: 1px solid #f4f4f4;
}

input::placeholder {
  color: black;
  font-size: 14px;
  line-height: 27px;
}

input:focus::placeholder {
  color: transparent;
}

.yourAccount__login {
  margin: 27px 0 10px 0;
  background-image: url(img/User.png);
}

.yourAccount__password {
  margin-bottom: 25px;
  background-image: url(img/Locked.png);
}

.rememberForgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.yourAccount__rememberMe,
.yourAccount__iForgot {
  font-size: 18px;
  line-height: 30px;
  color: black;
}

.yourAccount__rememberMeCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.yourAccount__iForgot {
  margin-right: 10px;
}

.yourAccount__rememberMeCheckbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.yourAccount__rememberMeCheckbox+label::before {
  content: "";
  width: 31px;
  height: 31px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #e5ddd5;
  margin-right: 15px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  box-sizing: border-box;
}

.yourAccount__rememberMeCheckbox:not(:checked):not(:disabled)+label:focus::before {
  border-color: #eae5e2;
}

.yourAccount__rememberMeCheckbox:not(:checked):not(:disabled)+label:hover::before {
  border-color: #eae5e2;
}

.yourAccount__rememberMeCheckbox:not(:checked):not(:disabled):active+label::before {
  border-color: #d5c9bd;
  background-color: #d5c9bd;
  background-image: url('img/checked.png');
  background-size: 22px 16px;
}

.yourAccount__rememberMeCheckbox:checked+label::before {
  background-image: url('img/checked.png');
  background-size: 22px 16px;
  border: none;
}

.yourAccount__rememberMeCheckbox:checked+label:focus::before {
  border-color: #eae5e2;
}

.yourAccount__rememberMeCheckbox:checked+label:hover::before {
  border-color: #eae5e2;
}

.yourAccount__rememberMeCheckbox:checked+label:active::before {
  background-color: #d5c9bd;
  background-image: none;
  background-size: 22px 16px;
  border: none;
}


.yourAccount__buttons {
  display: none;
}

.yourAccount__theOneButton {
  width: 98%;
  height: 48px;
  margin: 12px 0 57px 0;
  padding: 0;

  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;

  border: none;
  background-color: #826550;
  color: white
}


.headerLogo__img {
  display: block;
  margin: 58px auto 0 auto;
}

.holder {
  position: relative;
}

.stats {
  display: flex;

  position: absolute;
  top: -183px;
  left: 0;
  right: 0;
}

.stats__text {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 33.333%;
  background-color: #ffffff;

  padding: 36px 60px 31px 43px;

  box-sizing: border-box;
}

.stats__slogan {
  padding: 0 0 32px 0;
  margin: 0;

  font-size: 36px;
  font-weight: 1000;
  line-height: 40px;
  text-align: left;
}

.stats__intro,
.stats__legend--top,
.stats__legend-bottom {
  padding: 0;
  margin: 0;

  font-size: 20px;
  line-height: 27px;
  text-align: left;
}

.stats__legend--top {
  display: block;
  margin-top: auto;

  color: #e8e8e8;
}

.stats__legend-bottom {
  display: none;
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  width: 66.666%;
}

.stats__item {
  width: 50%;
  min-width: 320px;
  padding: 36px 68px 31px 35px;
  margin: 0;

  box-sizing: border-box;
  align-items: center;

  color: #ffffff;
}

.stats__money {
  background-color: #444443;
}

.stats__hair {
  background-color: #3c3c3c;
}

.stats__time {
  background-color: #4e4e4e;
}

.stats__likes {
  background-color: #444444;
}

.stats__numbers {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 68px;
  font-weight: bold;
  line-height: normal;
}

.stats__value {
  display: block;
  padding: 0;
  margin: 0;

  font-size: 20px;
  line-height: 27px;
}

.stats__value br {
  display: none;
}

.advantages {
  width: auto;
  padding: 240px 0 20px 0;

  color: white;

  background-color: #353535;
}

.advantages__list {
  display: flex;
  margin: 0;
  padding: 0;
  width: auto;

  list-style: none;
}

.advantages__item {
  width: 33.333%;

  background-repeat: no-repeat;
  background-position-x: center;
}

.advantages__item {
  padding: 0;
  background-position-x: 50%;
}

.advantages__item--fast {
  background-image: url(img/advantage-1-illustration.png);
}

.advantages__item--cool {
  background-image: url(img/advantage-2-illustration.png);
}

.advantages__item--pricey {
  background-image: url(img/advantage-3-illustration.png);
}

.advantages__title {
  margin: 0 0 22px 0;
  padding-top: 126px;

  text-align: center;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages__description {

  margin: 0;
  padding: 0 10%;

  text-align: center;
  font-size: 20px;
  line-height: 27px;
}

.advantages__toggles {
  display: none;
}

.wing-advantages {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-top: 5vw solid #353535;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}


.news,
.feedback {
  background-color: #f6f3f0;
}

.news {
  position: relative;

  margin: 0;
  padding: 125px 0 42px 0;
}

.news__title,
.feedback__title {
  margin: 0 0 0 55px;
  padding: 0;

  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: left;
}

.news__list {
  display: flex;

  margin: 0;
  padding: 0;
}

.news__item {
  display: flex;
  justify-content: center;

  width: 33.333%;
  margin: 0;
  box-sizing: border-box;
}

.news__item {
  padding: 0 4%;
}

.news__item:hover,
.news__item:focus {
  color: #d7cdc5;
}

.news__item:active {
  color: #cdc3ba;
}

.news__flagDate {
  position: relative;
}

.news__flagBackground {
  height: 50px;
  width: 50px;

  margin: 10px 0 0 0;
  padding: 5px 0 0 0;

  background-color: #000000;
  color: white;
  text-align: center;
}

.news__flagBottom {
  position: absolute;
}

.news__day {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

.news__text {
  padding: 0;
  margin: 0 0 0 20px;

  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: black;
}

.news__item:hover,
.news__item:focus {
  color: #d7cdc5;
  text-decoration: underline;
}

.news__text:active {
  color: #cdc3ba;
  text-decoration: underline;
}

.button {
  display: inline-block;
  width: 160px;
  padding: 12px 5px 12px 5px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  outline: 1px solid #c9bdb1;
  border: none;
  box-sizing: border-box;
}

.news__titleButton {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px 0;
}

.news__showAll--top:hover,
.news__showAll--top:focus {
  outline: 1px solid #eae5e2;
}

.news__showAll--top:active {
  outline: 1px solid #ede4de;
  background-color: #ede4de;
  color: #e3dcd5;
}

.news__showAll--mobile {
  display: none;
}

.feedback {
  margin: 0;
  padding: 37px 0 46px 0;

  border-top: 1px solid #c9bdb1;
}

.feedback__wrapper {
  display: flex;
  justify-content: center;
}

.sliderwrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 21px;
}

.feedback__list {
  display: flex;
  width: 100%;
}

.feedback__item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  margin: 0;
}

.feedback__authorPhoto {
  align-self: center;
  margin: 0;
  padding: 0;
}

.feedback__text {
  min-height: 158px;
  padding: 35px 80px 0px 75px;

  border: 1px solid #c9bdb1;
  border-left: none;

  box-sizing: border-box;
}

.feedback__authorsName {
  font-size: 24px;
  line-height: 27px;
}

.feedback__comment {
  font-size: 18px;
  line-height: 27px;
}

.feedback__titleButton {
  display: flex;
  justify-content: space-between;
}

.feedback__giveFeedback {
  margin: 0 0 35px 0;
}

.feedback__arrowButton {
  width: 48px;
  height: 160px;

  background-color: #f6f3f0;
  outline: none;
  border: 1px solid #c9bdb1;

  cursor: pointer;
}

.feedbackArrow__text {
  font-size: 0;
}

.feedbackArrow__text::after {
  content: "";

  display: inline-block;

  height: 12px;
  width: 12px;

  background-size: cover;
  background-position: 50% 50%;
}

.feedbackArrow__text--left::after {
  background-image: url(img/left-arrow.png);
}

.feedbackArrow__text--right::after {
  background-image: url(img/right-arrow.png);
}

.feedback__toggles {
  display: flex;
  justify-content: center;
  margin: 42px 0 0 0;
}

.slider__toggle:not(:last-child) {
  margin: 0 23px 0 0;
}

.slider__toggle {
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  border: 1px solid #878684;
}


.wing-feedback {
  display: none;
}

.footer {
  color: white;
  background-color: #292929;
}

.wrapperFooter {
  display: flex;
  justify-content: space-between;
  padding: 53px 10% 60px 10%;
}

.footer__contacts {
  margin: 0 10% 0 0;
}

.contacts {
  width: 33%;

  font-size: 18px;
  line-height: 27px;
}

.footer__social {
  margin: 0 28% 0 0;
}

.contacts__title {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  font-weight: bold;
}

.contacts__phoneButton {
  display: none;
}

.social__calling,
.copyright__designed {
  margin: 0 0 15px 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.copyright__link {
  color: white;
  outline: 1px solid #3c3c3c;
}

.copyright__link:hover,
.copyright__link:focus,
.social__link:hover,
.social__link:focus {
  outline: 1px solid #393939;
}

.copyright__link:active,
.social__link:active {
  color: #393939;

  background-color: #252525;
  outline: none;
}

.social__list {
  display: flex;
  padding: 0;

  list-style: none;
}

.social__link {
  display: flex;
  min-width: 50px;
  min-height: 50px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid #3e3e3e;
}

.social__link--vk {
  background-image: url(img/vk-icon-big.png);
  background-size: 15px 17px;
}

.social__link--fb {
  background-image: url(img/facebook-icon-big.png);
  background-size: 10px 21px;
}

.social__link--inst {
  background-image: url(img/insta-icon-big.png);
  background-size: 19px 19px;
}